<i style="color:green">trips#edit: find me in: app/views/trips/edit.html.erb</i>
<p>trips#edit: find me in app/views/trips/edit.html.erb</p>
<br>
<%= render "items/display_convoy_info" %>
<h1><center><%= @trip.name %></center></h1>
<% if @trip.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @trip do |f| %>
  <%= f.label 'New Name of Trip:' %>
  <%= f.text_field :name %>
    <br>
  <%= f.label 'Start Location:' %>
  <%= f.text_field :start_location %>
    <br>
  <%= f.label 'Finish Location:' %>
  <%= f.text_field :finish_location %>
    <br>
  <%= f.collection_check_boxes :leg_ids, Leg.all, :id, :description %>
    <br><br><br><br><br><br><br>
  <%= f.collection_check_boxes :vehicle_ids, Vehicle.all, :id, :name %>
  <!-- Currently, this method isn't working because it deletes all existing -->
  <!-- vehicles in the trip & replaces them with the one vehicle selected below -->
  <!-- <label>Select the vehicles that will be added to this Trip:</label> -->
  <!-- <%#= f.select :vehicle_ids, options_from_collection_for_select(@vehicles, "id", "name") %><br> -->



    <br><br><br><br><br>
  <%= f.label 'Total Fuel Consumed on Trip:' %>
  <%= f.text_field :total_fuel_actually_consumed %>
    <br>
  <%= f.label 'Convoy Log:' %>
  <%= f.text_field :convoy_log %>


    <br><br>
  <%= f.submit "Submit" %>
<% end %>
