<!-- This block of code generates both the new vehicle form and the edit vehicle form -->
<!-- This block of code generates the code for error messages as well -->
<% if @vehicle.errors.any? %>
  <div style="color:red" id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!--
because the vehicle routes are nested inside the user routes, the archetypal
<# form_for @vehicle do |f| #> cannot be used in this instance, as that will
generate the following error: "...undefined method `vehicles_path'..."

Instead, the "vehicle_form" object created by ActionView::Helpers::FormBuilder
is used to generate the form as shown below:
-->
<% f = vehicle_form %>
  <%= f.label 'Name of Vehicle:' %>
  <%= f.text_field :name %>
    <br><br>
  <%= f.label 'Miles Per Gallon:' %>
  <%= f.text_field :miles_per_gallon %>
    <br><br>
  <%= f.label 'Gallons of Fuel on Vehicle::' %>
  <%= f.text_field :fuel_on_vehicle %>
    <br><br>
    <label>Select the trip this vehicle will be on:</label><br>
    <%= select_tag "trip_id", options_from_collection_for_select(@trips, "id", "name") %><br>
  <%= f.submit "Submit" %>
