<i style="color:green">site#burdapp - find me in: app/views/site/burdapp.html.erb</i>
<br>
<h2>Welcome to Expeditionary Convoy Planner <t style="color:green"><%= @user.username %></h2>
<img src="https://i.imgur.com/k2SHPSe.jpg" title="source: imgur.com" width="300" />
<p>The email address we have on file with you is: <u style="color:blue"><%= @user.email %></u></p>
<p>This program will tell you if your next convoy has enough fuel or not</p>
<p>Select from the menu below</p>

<ul>
  <li><%= link_to "View all trips in the database", trips_path %></li>
  <li><%= link_to "View your vehicles", user_vehicles_path(@user) %></li>
  <li><%= link_to "Create a new trip", new_trip_path %></li>
  <li><%= link_to "Create a new vehicle", new_user_vehicle_path(@user) %></li>
</ul>
